/* .board {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: lightgreen;
}

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform-origin: top left;
} */